:root {
    --font-letra: "Poppins", sans-serif;
    --cor-letra: white;
    --cor-fundo: #080B16;
    --font-titulo: 28px;
    --font-informação: 16px;
}

.container {
    width: 620px;
    height: 620px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: var(--cor-fundo);
    color: var(--cor-letra);
    font-family: var(--font-letra);
}

.titulo{
    display: flex;
    justify-content: space-around;
}

.titulo h1{
    font-size: var(--font-titulo);
}

.informacoes{
    margin: 10% 18%;
}

.cliente{
    margin-bottom: 10%;
}

.status{
    margin-bottom: 30%;
}

.servico-titulo{
    font-size: var(--font-informação);
}

input, select, button{
    
    border-radius: 8px;
    height: 44px;
    width: 400px;
}

.avaliacao-botao{
    font-weight: bold;
    font-size: var(--font-informação);
    background-color: #F0B35B;
}
